<div class="container">
    <div class="users-list">
        <h2>Users</h2>
        <p><i class="fa fa-info" aria-hidden="true"></i><i>Click on any user to view the user details</i></p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-1">Avatar</th>
                    <th>Username</th>
                    <th class="col-md-2">Type</th>
                    <th class="col-md-2">Site Admin</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in vm.users">
                    <td><span class="user-avatar" style="background-image:url({{ user.avatar_url }})"></span></td>
                    <td><a href="#user/{{ user.login }}">{{ user.login }}</a></td>
                    <td>{{ user.type }}</td>
                    <td>{{ user.site_admin }}</td>
                </tr>
            </tbody>
        </table>
        <loader-widget data-ng-show="vm.showLoader" loader-size="" is-colored="true" enable-mask="true" class="animate-hide"></loader-widget>
    </div>
</div>
