header {
    text-align: center;
    padding: 16px 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
	border-bottom: 1px solid lighten($darkColor, 82%);
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		border-bottom: 1px solid lighten($darkColor, 100%);
	}

	.company-title {
		height: 61px;
		font-size: 31px;
		color: lighten($darkColor, 20%);
	}
}

footer {
	padding: 23px 0;
	font-size: 11px;
	color: lighten($darkColor, 100%);
	text-align: center;
	text-shadow: lighten($darkColor, 100%) 0px 1px 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: lighten($darkColor, 40%);
	border-top: 1px solid lighten($darkColor, 82%);
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		border-top: 1px solid lighten($darkColor, 100%);
	}
}
