@import "mixins";

/* Clear Loading */

.loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    &.mask {
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.75);
            z-index: 1000;
        }
    }
}

.clear-loading {
    text-align: center;
    left: 50%;
    top: 50%;
    margin: -50px 0;
    position: absolute;
    @include box-sizing(border-box);
}

/* Loading Effect One */

.loading-effect {
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    z-index: 1001;
    &.large {
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -50px;
        & span {
            border-width: 4px;
        }
    }
    & span {
        display: block;
        @include border-radius(50%);
        border: 3px solid #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        &:first-child {
            width: 100%;
            height: 100%;
            border-left-color: transparent !important;
            top: 0;
            left: 0;
            @include animation(effect-1-1 4s infinite linear);
        }
        &:nth-child(2) {
            width: 75%;
            height: 75%;
            border-right-color: transparent !important;
            top: 12.5%;
            left: 12.5%;
            @include animation(effect-1-2 3s infinite linear);
        }
        &:last-child {
            width: 50%;
            height: 50%;
            border-bottom-color: transparent !important;
            top: 25%;
            left: 25%;
            @include animation(effect-1-1 4s infinite linear);
        }
    }
    &.colored {
        & span {
            &:first-child {
                border-color: rgba(25, 190, 155, 1);
            }
            &:nth-child(2) {
                border-color: rgba(230, 75, 60, 1);
            }
            &:last-child {
                border-color: rgba(50, 70, 95, 1);
            }
        }
    }
}

@-webkit-keyframes effect-1-1 {
    from {
        @include rotate(0deg);
    }
    to {
        @include rotate(360deg);
    }
}


@keyframes effect-1-1 {
    from {
        @include rotate(0deg);
    }
    to {
        @include rotate(360deg);
    }
}


@-webkit-keyframes effect-1-2 {
    from {
        @include rotate(0deg);
    }
    to {
        @include rotate(-360deg);
    }
}


@keyframes effect-1-2 {
    from {
        @include rotate(0deg);
    }
    to {
        @include rotate(-360deg);
    }
}


/* Loading Effect Two */

.loading-effect-2 {
    width: 60px;
    height: 60px;
    &.large {
        width: 100px;
        height: 100px;
    }
    & > span,
    & > span:before,
    & > span:after {
        content: "";
        display: block;
        border-radius: 50%;
        border: 2px solid #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
    }
    & > span {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-left-color: transparent;
        @include animation(effect-2 2s infinite linear);
    }
    & > span:before {
        width: 75%;
        height: 75%;
        border-right-color: transparent;
    }
    & > span:after {
        width: 50%;
        height: 50%;
        border-bottom-color: transparent;
    }
}

@-webkit-keyframes effect-2 {
    from {
        @include rotate(0deg);
    }
    to {
        @include rotate(360deg);
    }
}


@keyframes effect-2 {
    from {
        @include rotate(0deg);
    }
    to {
        @include rotate(360deg);
    }
}