@mixin opacity($opacity) {
	   opacity: $opacity;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$opacity * 100+")";
	    filter: alpha(opacity = $opacity * 100);
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	        border-radius: $radius;
}

@mixin font($weight: 500, $size: 12px, $lineHeight: normal) {
	@if $weight == 100 {
		$weight: 200;
	}
	@else if $weight == 300 {
		$weight: 400;
	}
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: $weight;
	  font-size: $size;
	line-height: $lineHeight;
}

@mixin box-sizing($val: border-box) {
	-webkit-box-sizing: $val;
	   -moz-box-sizing: $val;
		-ms-box-sizing: $val;
		 -o-box-sizing: $val;
			box-sizing: $val;
}
