$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

// endbower

// customize bootstrap variables here:
@import "base";
@import "loader";
@import "header";
@import "mixins";

html, body, .layout-wrapper, .layout-container, .layout-container > .ng-scope {
    height: 100%;
}

body {
    background: lighten($darkColor, 96%);
    font: normal 12px 'Roboto', sans-serif;
}

#ng-view {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.view-enter, .view-leave {
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}

.view-enter {
    opacity: 0;
    left: 100%;
    width: 100%;
    position: absolute;
}

.view-enter.view-enter-active {
    left: 0;
    opacity: 0;
}

.view-leave {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 1;
}

section  {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    top: 70px;
}
