@import "base";

.users-list {
    .fa-info {
        color: $linkBlueColor;
        margin: 0 6px 0 0;
    }

    table {
        font-size: 13px;

        td {
            vertical-align: middle !important;

            a {
                color: $linkBlueColor;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            span.user-avatar {
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: no-repeat 50% 50%;
                background-size: cover;
            }
        }
    }
}

.user-details {
    h2 {
        text-align: center;
    }
    .thumbnail {
        p {
            margin-top: 10px;
            text-align: center;
            font-size: 14px;
            font-weight: 700;
        }

        .user-follow-info {
            display: flex;

            div {
                width: 50%;
                text-align: right;

                &:first-child {
                    text-align: left;
                }

                span {
                    color: $linkBlueColor;
                }
            }
        }
    }
}
