<div class="loader {{enableMask ? 'mask' : ''}}">
    <div class="clear-loading loading-effect {{isColored ? 'colored' : ''}} {{loaderSize}}">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>