<div>

    <!-- Common Header -->
    <div data-ng-include="'app/layout/header.html'"></div>

    <!-- Content Area -->
    <section id="content" class="content">

        <!-- Page Specific View -->
        <div data-ng-view id="ng-view" class="shuffle-animation" data-ng-animate="{enter: 'view-enter', leave: 'view-leave'}"></div>

    </section>

    <!-- Common Footer -->
    <div data-ng-include="'app/layout/footer.html'"></div>
</div>
