<div class="container">
    <div class="user-details">
        <h2>User Details</h2>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="user-image thumbnail">
                    <img src="{{ vm.user.avatar_url}}" class="img-responsive img-center">
                    <p>{{ vm.user.name}}</p>
                    <div class="user-follow-info">
                        <div>
                            Followers: <span>{{ vm.numberFormatter(vm.user.followers, 1) }}<span>
                        </div>
                        <div>
                            Following: <span>{{ vm.user.following}}<span>
                        </div>
                    </div>
                    <div class="user-follow-info">
                        <div>
                            Company: <span>{{ vm.user.company}}<span>
                        </div>
                        <div>
                            email: <span>{{ vm.user.email}}<span>
                        </div>
                    </div>
                </div>
                <loader-widget data-ng-show="vm.showLoader" loader-size="" is-colored="true" enable-mask="true" class="animate-hide"></loader-widget>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
